{{> ./partials/head }}

<body>
  <div class="container">
    <!-- Intro -->
    <div class="row my-3">
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title">
              <a href="intro_v1_video.html" class="btn btn-primary"  role="button">Video v1</a>
          </div>
          <div class="card-body">
             <h6>Примеры видео:</h6>
             <ul class="list-group text-left">
               <li class="list-group-item">
                 <a href="https://www.shutterstock.com/ru/video/clip-19915468-beautiful-3d-animation-stock-market-information-financial" class="alert-link" target="_blank">Stock Market</a>
               </li>
               <li class="list-group-item">
                 <a href="https://www.shutterstock.com/ru/video/clip-18970156-montreal-canada---august-2016-shopping-inside" class="alert-link" target="_blank">Shopping Inside</a>
               </li>
             </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v2_slider.html" class="btn btn-primary"  role="button" target="_blank">Слайдер v1</a>
          </div>
          <div class="card-body">
            <ul>
              <li>смена текста в заголовке</li>
              <li>слайдер на заднем фоне</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v3_slider.html" class="btn btn-primary"  role="button" target="_blank">Слайдер v2</a>
          </div>
          <div class="card-body">
            <ul>
              <li>статический заголовок</li>
              <li>слайдер на заднем фоне с разными эффектами</li>
              <li>задний фон - blur</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v4_slider.html" class="btn btn-primary"  role="button" target="_blank">Слайдер v3</a>
          </div>
          <div class="card-body">
            Двух-колоночный
            <ul>
              <li>Статический заголовок</li>
              <li>Слайдер слева</li>
              <li>задний фон - blur</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v5_video_v2.html" class="btn btn-primary"  role="button" target="_blank">Video v2</a>
          </div>
          <div class="card-body">
            Двух-колоночный
            <ul>
              <li>Статический заголовок</li>
              <li>Видео справо</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <!-- <a href="intro_v6_parallax_v1.html" class="btn btn-primary"  role="button" target="_blank">Parallax v1</a> -->
          </div>
          <div class="card-body">
            Эффект Parallax при скролле вниз.
            <ul>
              <li>Статический заголовок</li>
              <li>Видео справо</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v7_video_v3.html" class="btn btn-primary"  role="button" target="_blank">Video v3</a>
          </div>
          <div class="card-body">
            <ul>
              <li>Статический заголовок</li>
              <li>Видео в контейнере</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-3 mt-4">
        <div class="card bg-light">
          <div class="card-title text-center">
            <a href="intro_v8_slider.html" class="btn btn-primary"  role="button" target="_blank">Slider v4</a>
          </div>
          <div class="card-body">
            <ul>
              <li>Статический заголовок</li>
              <li>Слайдер в контейнере</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <!-- Intro End-->
    <!-- About US -->
    <!-- About END -->
  </div>
</body>

</html>
