
<!DOCTYPE html>
<html lang="en">
{{> ./partials/head }}

<body>
  <header style="height:auto;">
    {{> ./partials/navbar }}
  </header>


  <main style="height:100%; margin-top:160px;">
    <div class="container">
      <div class="row">
        <div class="col-md-5 my-5 mx-auto text-center">
          {{#usage}}
            <h2 class="h2 mb-2">Страница описания решений</h2>
          {{/usage}}
          <h6 class="h6">Most of the world has been left out of today's data revolution. </h6>
          <hr class="header-divider">
        </div>
      </div>
    </div>
      <a id="scrollToTop" class="btn-lg"><i class="fa fa-angle-up fa-2x"></i></a>
  </main>
  <!-- ScrollToTop -->
  <!--  -->
  {{> ./partials/footer }}
</body>

</html>
