
<!DOCTYPE html>
<html lang="en">
{{> ./partials/head }}

<body>
  <header style="height:auto;">
    {{> ./partials/navbar }}
  </header>
  <main style="height:100%; margin-top:160px;">
      {{> ./sections/contact_section }}
      <a id="scrollToTop" class="btn-lg"><i class="fa fa-angle-up fa-2x"></i></a>
  </main>
  <!-- ScrollToTop -->
  <!--  -->
  {{> ./partials/footer }}
</body>

</html>
