{{> ./partials/head }}

<body>

  {{> ./partials/navbar }}


  <header>
    {{> ./sections/intro_headingSliderTitle }}
  </header>
  <main>


    {{> ./sections/advantage }}



    {{> ./sections/web-section }}



    {{> ./sections/callToAction }}

    {{> ./sections/analitics }}

    {{> ./sections/universal_fade_v2 }}


    <section class="py-0">
      {{> ./sections/clients3 }}
      <div class="container">
        <hr>
      </div>
      {{> ./sections/testimonials3 }}
    </section>

    {{> ./sections/contacts-section }}

    <!-- CTA RightSide -->

    <div class="modals-container">

      {{> ./modals/presetation_modal_footer }}

      {{> ./modals/callToActionModal }}

      {{> ./modals/contact_modal_right }}

      {{> ./modals/fixed_container_modal }}
    </div>

  </main>
  <!-- ScrollToTop -->
  <!--  -->

  {{> ./partials/fixedBottomRightContainer }}
  {{> ./partials/footer2 }}

</body>

</html>
