<!DOCTYPE html>
<html lang="en">
{{> ./partials/head }}

<body>

    {{> ./partials/navbar2 }}


  <header>
    {{> ./sections/intro_headingSliderTitle }}
  </header>
  <main>


    {{> ./sections/usage_v2 }}
    {{> ./sections/universal_fade_v2 }}

    {{> ./sections/advantage }}



    {{> ./sections/web-section }}


    <section class="py-0">
      {{> ./sections/clients3 }}

      {{> ./sections/testimonials3 }}
    </section>

    <!-- CTA RightSide -->

    <div class="modals-container">
      {{> ./modals/locales_modal }}
      
      {{> ./modals/presetation_modal_footer }}

      {{> ./modals/callToActionModal }}

      {{> ./modals/contact_modal_right }}

      {{> ./modals/fixed_container_modal }}
    </div>

  </main>
  <!-- ScrollToTop -->
  <!--  -->

  {{> ./partials/fixedBottomRightContainer }}
  {{> ./partials/footer }}
</body>

</html>
