<!DOCTYPE html>
<html lang="en">
{{> ./partials/head }}

<body>
  <header>
    {{> ./partials/navbar2 }}
    {{> ./sections/intro }}
  </header>


  <main>
      {{> ./sections/usage }}
      {{> ./sections/advantage }}

      {{> ./sections/counterup }}

      {{> ./sections/capabilities3 }}

      {{> ./sections/web-section }}
      {{> ./sections/mobile }}

      {{> ./sections/callToAction }}

      {{> ./sections/universal }}

      {{> ./sections/clients3 }}
      <a id="scrollToTop" class="btn-lg"><i class="fa fa-angle-up fa-2x"></i></a>
      {{> ./modals/presetation_modal_footer }}
      {{> ./modals/callToActionModal }}
      {{> ./modals/contact_modal_right }}
  </main>
  <!-- ScrollToTop -->
  <!--  -->
  {{> ./partials/footer }}
</body>

</html>
