<!--Section: Main info-->
<section id="about-project" class="py-5 wow fadeIn">
  <div class="container">
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iUigshdj9aE" allowfullscreen></iframe>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 d-flex justify-content-center flex-column">

        <!-- Main heading -->
        <h3 class="h3 mb-3">Видеообзор приложения</h3>
        <p><strong>MM&CS</strong> предоставляет полный доступ ко всем данным в режиме on-line. Программа работает в режиме реального времени и позволяет оперативно реагировать на любые изменения и активности в точках продаж. Благодаря MM&CS вы можете узнавать всю полевую информацию даже с вашего телефона используя интуитивно понятный интерфейс.</p>
        <!-- Main heading -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>


</section>
<!--Section: Main info-->
