<section id="advantages" class="content-section">
  {{#advantages}}
  <div class="container">
    {{> ../partials/heading_main }}
    <div class="row">

      {{#item}}
      <div class="col-4 col-lg py-2 text-center wow bounceIn">
        <!-- <img src="assets/img/advantages_icons/{{icon}}" alt="" class="d-block mx-auto svg"> -->
        <svg class="icon icon-advantages_icons--{{icon}}">
          <use xlink:href="assets/img/sprite/sprite.svg#advantages_icons--{{icon}}"></use>
        </svg>
        <div class="mask rgba-stylish-strong"></div>
        <h6 class="h6 mt-3">{{title}}</h6>
        <p class="advantage_description mb-0">{{description}}</p>
        <!-- Block end -->
      </div>
      {{/item}}


    </div>
  </div>
  {{/advantages}}

  {{> ./counterup_2 }}

  {{> ./capabilities3 }}
</section>
