<section id="advantages" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-5 mx-auto text-center">
          <h2 class="h2 mb-2">Возможности</h2>
        <h6 class="h6">Most of the world has been left out of today's data revolution. </h6>
        <hr class="header-divider">
      </div>
    </div>
    <div class="row">
      {{#advantages}}
      <div class="col py-2 text-center">
        <!-- <img src="assets/img/advantages_icons/{{icon}}" alt="" class="d-block mx-auto svg"> -->
        <svg class="icon icon-advantages_icons--{{icon}}">
          <use xlink:href="assets/img/sprite/sprite.svg#advantages_icons--{{icon}}"></use>
        </svg>
        <div class="mask rgba-stylish-strong"></div>
        <h6 class="h6 my-3">{{title}}</h6>
        <p class="advantage_description mb-0">{{description}}</p>
        <!-- Block end -->
      </div>
      {{/advantages}}
    </div>
  </div>

</section>
