<section id="callToAction" class="py-5 parallax-window" data-parallax="scroll" data-image-src="assets/img/backgrounds/handshake.jpg">
  <div class="container my-5">
    <div class="row">
      <div class="col-8 d-flex">
        <h2 class="h2-responsive text-white m-0 align-self-center">СТАНЬТЕ НАШИМ КЛИЕНТОМ !</h2>
      </div>
      <div class="col-4">
        <a class="btn btn-lg btn-outline-demo waves-effect waves-light ml-auto"  data-toggle="modal" data-target="#callToActionModal" data-backdrop="true">Консультация
          <i class="fa fa-phone ml-2" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>
