<div class="wow fadeIn py-5 my-5">
  <div id="clients" class="clients">
    <div class="container-fluid">
      <div class="row">

          <div id="clients-carousel" class="owl-carousel owl-theme">
            {{#clients_logo}}
            <div class="item col">
              <img src="../assets/img/clients_logo/{{image}}" class="img-fluid" alt="{{ name }}">
            </div>
            {{/clients_logo}}
          </div>

      </div>
    </div>
  </div>
</div>
