<section class="view">
  <div id="clients" class="wow fadeIn clients">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- <h2 class="h2 mb-2 text-center">НАШИ КЛИЕНТЫ</h2>
          <hr class="header-divider mb-5"> -->
          <div id="clients-carousel" class="owl-carousel owl-theme py-3 wow fadeInRight">
            {{#clients_logo}}
            <div class="item">
              <img src="img/clients_logo/{{image}}" alt="{{ name }}" class="img-fluid">
            </div>
            {{/clients_logo}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="testimonials-section" class="parallax-window pt-5" data-parallax="scroll" data-image-src="./img/backgrounds/testimonials.png">
    <div class="container">
      <div class="row">
        <div class="testimonials-holder owl-carousel owl-theme my-3">
          {{#testimonials}}
          <div class="item testimonial-item text-center">
            <img src="img/testimonials/{{user_image}}" alt="">
            <blockquote>
              <p>{{testimonial}}</p>
            </blockquote>
            <hr class="header-divider my-2">
            <h5>{{position}}</h5>
          </div>
          {{/testimonials}}
        </div>
      </div>
    </div>
  </div>
</section>
