<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-5 mx-auto text-center">

          <h2 class="h2 mb-2">Контакты</h2>

        <h6 class="h6">Most of the world has been left out of today's data revolution. </h6>
        <hr class="header-divider">
      </div>
    </div>
    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <!-- <form id="contact-form" name="contact-form" action="mail.php" method="POST"> -->
            <form id="contact-form" name="contact-form">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Ваше имя</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Ваш email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Сообщение</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <!-- <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Отправить</a> -->
                <a class="btn btn-main-outline ">Отправить</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x"></i>
                    <p>Киев, ул. Юрия Шумского, 1б <br />2 этаж, LEX Marketing</p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>+380 93 327 72 32</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>office@LexMarketing.com.ua</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
  </div>


</section>
