<!--Section: CounterUp-->
<!-- <section class="wow fadeIn counterup-section parallax-window" data-parallax="scroll" data-image-src="./img/backgrounds/chart-infographics-abstract_2.png"> -->
<section id="counterup-section" class="wow fadeIn py-4">
  <div class="container-fluid">
    <!-- <hr class="hr-lighten"> -->
    <div class="row">
      {{#counterUp}}
        <div class="col-12 col-sm-6 col-lg-3 my-2">
          <div id="counterup-block-{{key}}" class="counterup-block card card-body">
            <div class="visual">
              <i class="fa {{ icon }}"></i>
            </div>
            <div class="details">
              <div class="number">
                <span class="counter">{{ count }}</span>
              </div>
              <div class="desc card-title">{{ title }}</div>
            </div>
          </div>
        </div>
      {{/counterUp}}
    </div>
  </div>
</section>
<!--/Section: CounterUp-->
