<!--Section: CounterUp-->
<section class="mt-5 wow fadeIn counterup-section">
  <div class="container">
    <div class="row">
      {{#counterUp}}
        <div class="col-md-3">
          <div id="counterup-block-{{key}}" class="counterup-block card card-body">
            <div class="visual">
              <i class="fa {{ icon }}"></i>
            </div>
            <div class="details">
              <div class="number">
                <span class="counter">{{ count }}</span>
              </div>
              <div class="desc card-title">{{ title }}</div>
            </div>
          </div>
        </div>
      {{/counterUp}}
    </div>
    <hr>
  </div>
</section>
<!--/Section: CounterUp-->
