<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

</div>
<script type="text/javascript">
  window.onload = function() {
    $("#carouselExampleIndicators").backstretch([
      "../assets/img/intro_slider/1.jpg","../assets/img/intro_slider/2.jpg","../assets/img/intro_slider/3.jpg"
    ], {duration: 3000, fade: 750});
  }

</script>
