<!-- Full Page Intro -->
<div class="view full-page-intro">

  <!--Video source-->
  <video class="video-intro" autoplay loop>
    <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
  </video>

  <!-- Mask & flexbox options-->
  <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row d-flex h-100 justify-content-center align-items-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">

          <h1 class="display-4 font-weight-bold">MERCHANDISING MANAGEMENT & CONTROL SYSTEM</h1>

          <hr class="hr-light">

          <p>
            <strong></strong>
          </p>

          <p class="mb-4 d-none d-md-block">
            <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong>
          </p>

          <a target="_blank" href="#" class="btn btn-outline-white">Demo
            <i class="fa fa-graduation-cap ml-2"></i>
          </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">

          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->
