<section id="mobile-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-5 mx-auto text-center">
        {{#mobile}}
          <h2 class="h2 mb-2">{{heading}}</h2>
          <hr class="header-divider">
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mb-4">
        <!-- z-depth-1-half -->
        <!-- <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iUigshdj9aE" allowfullscreen></iframe>
        </div> -->
        <img src="/img/mobile_app_web.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-5 mb-4 d-flex flex-column description_section">
        {{#item}}
        <div class="mobile_description_holder my-1">
          <h6 class="">{{title}}</h6>
          <p>{{description}}</p>
        </div>
        {{/item}}
        {{/mobile}}
        <a href="http://mmcs.com.ua/android/app/MMCS.apk" target="_blank" class="btn btn-outline-demo btn-download mt-auto mx-0">
          <img src="/img/icons/Android_Logo.png" class="ml-2 svg" alt="..." style="max-height: 32px;">
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
