<div id="carouselTestimonials3" class="">
  <div class="parallax-window">
    <div class="container-fluid">
      <div class="row">
        <div id="testimonials3-carousel" class="owl-carousel owl-theme">
          {{#testimonials3}}
          <div class="item testimonial-item col">
            <img src="../assets/img/testimonials/{{user_image}}" alt="" class="img-fluid">
            <blockquote>
              <p>{{testimonial}}</p>
            </blockquote>
            <hr class="header-divider my-2">
            <h5>{{position}}</h5>
          </div>
          {{/testimonials3}}
        </div>
      </div>
    </div>
  </div>
</div>
