<section id="unive-section" class="content-section wow fadeIn universal-section">
  {{#universal}}
    <div class="container">
      {{> ../partials/heading_main }}
      <div class="row">
        <div class="col-sm-6">
          {{#item_col_1}}
            <div class="universal-holder media my-4 pr-4">
              <div class="media-body text-right">
                <h5 class="mt-0 font-weight-bold">{{title}}</h5>
                <p class="mb-0">{{description}}</p>
              </div>
              <img class="d-flex align-self-center ml-3 svg" src="../assets/img/icons/{{icon}}.svg">
            </div>
          {{/item_col_1}}
        </div>
        <div class="col-sm-6">
          {{#item_col_2}}
            <div class="universal-holder media my-4 pl-4">
              <img class="d-flex align-self-center mr-3 svg" src="../assets/img/icons/{{icon}}.svg">
              <div class="media-body">
                <h5 class="mt-0 font-weight-bold">{{title}}</h5>
                <p class="mb-0">{{description}}</p>
              </div>
            </div>
          {{/item_col_2}}
        </div>
      </div>
    </div>
  {{/universal}}
</section>
