<section id="universal-section" class="content-section wow fadeIn universal-section">
  {{#universal}}
  <div class="container">
    {{> ../partials/heading_main }}
    <div class="row">
      <div class="col-6 wow fadeInLeft">
        {{#item_col_1}}
            <div class="universal-holder media align-items-center my-4">
              <div class="img-wrapper">
                <svg class="icon icon-icons--{{icon}}">
                    <use xlink:href="../assets/img/sprite/sprite.svg#icons--{{icon}}"></use>
                </svg>
              </div>
              <div class="media-body">
                <h5 class="m-0 font-weight-bold">{{title}}</h5>
                <p class="description mb-0">{{description}}</p>
              </div>
              <!-- <img class="d-flex align-self-center ml-3 svg" src="../assets/img/icons/{{icon}}.svg" > -->
            </div>
        {{/item_col_1}}
      </div>
      <div class="col-6 wow fadeInRight">
        {{#item_col_2}}
            <div class="universal-holder media align-items-center my-4">
              <div class="img-wrapper">
                <svg class="icon icon-icons--{{icon}}">
                    <use xlink:href="../assets/img/sprite/sprite.svg#icons--{{icon}}"></use>
                </svg>
              </div>
              <div class="media-body">
                <h5 class="m-0 font-weight-bold">{{title}}</h5>
                <p class="description mb-0">{{description}}</p>
              </div>
            </div>
        {{/item_col_2}}

      </div>
    </div>
  </div>
  {{/universal}}
</section>
