<!-- <section id="usage" class="py-5 wow fadeIn parallax-window" data-parallax="scroll" data-image-src="img/backgrounds/chart-infographics-abstract_2.png"> -->
<section id="usage" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-5 mx-auto text-center">
        {{#usage}}
          <h2 class="h2 mb-2">{{heading}}</h2>
        {{/usage}}
        <h6 class="h6">Most of the world has been left out of today's data revolution. </h6>
        <hr class="header-divider">
      </div>
    </div>
    <div class="card-deck pb-5">
      <!-- block -->
      {{#usage}}
        {{#item}}
          <div class="card wow slideInUp" data-wow-delay="{{show_delay}}s">
            <div class="view overlay">
              <img class="card-img-top" src="./img/{{icon}}" alt="{{title}}" style="max-height: 130px;">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="usage-item-wrapper card-body d-flex flex-column">
              <h4 class="h4 text-center card-title">{{title}}</h4>
              <div class="usage-item-card">
                <!-- <div class="usage-icon">
                  <i class="fa {{icon}} fa-5x"></i>
                </div> -->

              </div>
              <div class="usage-description card-text">
                <ul class="list-unstyled">
                  {{#usage_item}}
                    <li class="mb-3 grey-text"><i class="fa fa-mail-forward indigo-text"></i> {{title}}
                      <!-- <ul>
                        {{#sub_usage_item}}
                          <li class="grey-text">{{sub_usage_item_title}}</li>
                        {{/sub_usage_item}}
                        {{^sub_usage_item}}

                        {{/sub_usage_item}}
                      </ul> -->
                    </li>
                  {{/usage_item}}
                </ul>
              </div>
              <a href="#" class="btn btn-demo mx-auto d-block mt-auto mb-2">Детальнее</a>
            </div>
          </div>
        {{/item}}
      {{/usage}}
    </div>
  </div>
</section>
