<section class="mt-5 mb-5 wow fadeIn reports blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h2 mt-5">ОБЛАСТИ ПРИМЕНЕНИЯ</h2>
      </div>
      <!-- block -->
      <div class="col-sm-6 col-lg-3">
        <div class="usage-title">
          <h4 class="h4">МЕРЧЕНДАЙЗИНГ</h4>
        </div>
        <div class="usage-icon">
          <i class="fa fa-list fa-5x"></i>
        </div>
        <div class="usage-description">
          <ul>
            <li>ВЫПОЛНЕНИЕ РАБОТ ПО ГРАФИКУ И ЗАПОЛНЕНИЕ ОТЧЕТА ПО КАЖДОЙ ТТ</li>

            <li>ФОТООТЧЕТЫ</li>

            <li>КОММЕНТАРИИ К ОТЧЕТАМ И ФОТООТЧЕТАМ</li>

            <li>ПЕРЕДАЧА ДАННЫХ В РЕЖИМЕ РЕАЛЬНОГО ВРЕМЕНИ</li>
          </ul>
        </div>
      </div>
      <!-- block -->
      <!-- block -->
      <div class="col-sm-6 col-lg-3">
        <div class="usage-title">
          <h4 class="h4">Аудит</h4>
        </div>
        <div class="usage-icon">
          <i class="fa fa-list fa-5x"></i>
        </div>
        <div class="usage-description">
          <ul>
            <li>ПОЛЕВЫЕ АУДИТЫ ДЛЯ КОНТРОЛЯ КАЧЕСТВА ВЫПОЛНЕННЫХ РАБОТ ПО ТТ</li>

            <li>ONLINE АУДИТЫ ИЗ ПРОСМОТРА ОТЧЕТОВ И ФОТООТЧЕТОВ</li>

            <li>ГИБКИЕ КРИТЕРИИ ОЦЕНИВАНИЯ</li>

            <li>ПРОЗРАЧНАЯ СИСТЕМА ОЦЕНКИ И БОНУСИРОВАНИЯ ПОЛЕВЫХ КОМАНД</li>
          </ul>
        </div>
      </div>
      <!-- block -->
      <!-- block -->
      <div class="col-sm-6 col-lg-3">
        <div class="usage-title">
          <h4 class="h4">РОЗНИЧНЫЙ АУДИТ</h4>
        </div>
        <div class="usage-icon">
          <i class="fa fa-list fa-5x"></i>
        </div>
        <div class="usage-description">
          <ul>
            <li>MUST STOCK LIST</li>

            <li>КОНТРОЛЬ СТАНДАРТОВ ВЫКЛАДКИ</li>

            <li>ИНДЕКС ЦЕН</li>

            <li>МОНИТОРИНГ КОНКУРЕНТОВ</li>

            <li>ЗАМЕР ДОЛЕЙ ПОЛКИ</li>
          </ul>
        </div>
      </div>
      <!-- block -->
      <!-- block -->
      <div class="col-sm-6 col-lg-3">
        <div class="usage-title">
          <h4 class="h4">Отчетность</h4>
        </div>
        <div class="usage-icon">
          <i class="fa fa-list fa-5x"></i>
        </div>
        <div class="usage-description">
          <ul>
            <li>
              РЕГЛАМЕНТИРОВАННЫЕ ОТЧЕТЫ
              <ul>
                <li>OUT OF STOCK</li>
                <li>ТЕКУЩИЕ ОТЧЕТЫ</li>
                <li>ФЕЙСИНГ</li>
              </ul>
            </li>
            <li>АНАЛИТИЧЕСКИЕ ОТЧЕТЫ
            <ul>
              <li>ДИНАМИКА OOS</li>
              <li>ДИНАМИКА MSL</li>
              <li>PRICE INDEX</li>
            </ul>
          </li>

          <li>ФОТООТЧЕТЫ</li>

          <li>ОТЧЕТ ПО ПЕРСОНАЛУ</li>
          </ul>
        </div>
      </div>
      <!-- block -->
    </div>
  </div>
</section>
