<section id="web-section" class="content-section">
  {{#web}}
  <div class="container-fluid">
    {{> ../partials/heading_main }}
    <div class="row">
      <!-- Col 1 -->
      <div class="col-3 pr-0 pt-4">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column col-first text-right" role="tablist">

            {{#items_col1}}
              <li class="nav-item wow fadeInLeft">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col1}}

        </ul>
      </div>
      <!-- /Col 1  -->
      <!-- Content Tabs Inner -->
      <div class="col">
        <div class="tab-content wow fadeIn" id="webTabContent">

            {{#items_col1}}
            <div class="tab-pane {{show}} {{active}}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
              <div class="tab-content-inner">

                	<img src="../assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">

              </div>
            </div>
            {{/items_col1}}

            <!--  -->

            {{#items_col2}}
            <div class="tab-pane" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
              <div class="tab-content-inner">

                	<img src="../assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">

              </div>
            </div>
            {{/items_col2}}

        </div>
      </div>
      <!-- /Content Tabs Inner -->
      <!-- Col 2 -->
      <div class="col-3 pl-0 pt-4 order-lg-12">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column col-second" role="tablist">

            {{#items_col2}}
              <li class="nav-item wow fadeInRight">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col2}}

        </ul>
      </div>
      <!-- /Col 2 -->
    </div>
    <div class="row">
      <div class="col text-center">
        <!-- <a class="popup-video btn btn-fill-tr mx-auto btn-main-outline waves-effect mt-4" href="http://www.youtube.com/watch?v=iUigshdj9aE">{{button_title}}</a> -->
        <a class="btn popup-video mx-auto waves-effect mt-4" href="http://www.youtube.com/watch?v=iUigshdj9aE">
          <svg class="icon icon-icons--play-button">
              <use xlink:href="../assets/img/sprite/sprite.svg#icons--play-button"></use>
          </svg>
        </a>

      </div>
    </div>
  </div>
  </div>
  {{/web}}
</section>
