<section id="web-section" class="py-5">
  {{#web}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5  text-center">

          <h2 class="h2 mb-2">{{heading}}</h2>

        <h6 class="h6">{{sub_desc}}</h6>

        <hr class="header-divider">
      </div>
    </div>
    <div class="row">
      <!-- Col 1 -->
      <div class="col">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column h-100 py-4 col-first text-right" role="tablist">

            {{#items_col1}}
              <li class="nav-item wow fadeInLeft">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col1}}

        </ul>
      </div>
      <!-- /Col 1  -->
      <!-- Content Tabs Inner -->
      <div class="col-sm-7 d-flex align-items-center justify-content-center">
        <div class="tab-content wow fadeIn" id="webTabContent">

            {{#items_col1}}
              <div class="tab-pane {{show}} {{active}}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
                <div class="tab-content-inner">
                  <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
                  	<img src="assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">
                  </a>
                </div>
              </div>
            {{/items_col1}}

            <!--  -->

            {{#items_col2}}
            <div class="tab-pane" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
              <div class="tab-content-inner">
                <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
                	<img src="assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">
                </a>
              </div>
            </div>
            {{/items_col2}}

        </div>
      </div>
      <!-- /Content Tabs Inner -->
      <!-- Col 2 -->
      <div class="col">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column h-100 py-4 col-second" role="tablist">

            {{#items_col2}}
              <li class="nav-item wow fadeInRight">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col2}}

        </ul>
      </div>
      <!-- /Col 2 -->
    </div>
    <div class="row">
      <div class="col-xl-5 col-12 mt-5 mx-auto text-center">
        <p class="py-2">{{end_desc}}</p>
        <button type="button" class="btn btn-main-outline waves-effect">{{button_title}}</button>
      </div>
    </div>
    <hr class="hr-light">
  </div>
  </div>
  {{/web}}
</section>
