<section id="web-section" class="content-section">
  {{#web}}
  <div class="container">
    {{> ../partials/heading_main }}
    <div class="row">
      <!-- Col 1 -->
      <div class="col">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column h-100 py-4 col-first text-right" role="tablist">

            {{#items_col1}}
              <li class="nav-item wow fadeInLeft">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col1}}

        </ul>
      </div>
      <!-- /Col 1  -->
      <!-- Content Tabs Inner -->
      <div class="col-lg-7">
        <div class="tab-content wow fadeIn" id="webTabContent">

            {{#items_col1}}
            <div class="tab-pane {{show}} {{active}}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
              <div class="tab-content-inner">
                <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
                	<img src="assets/img/mmcs/{{image}}.png" class="" alt="{{title}}">
                </a>
              </div>
            </div>
            {{/items_col1}}

            <!--  -->

            {{#items_col2}}
            <div class="tab-pane" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
              <div class="tab-content-inner">
                <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
                	<img src="assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">
                </a>
              </div>
            </div>
            {{/items_col2}}

        </div>
      </div>
      <!-- /Content Tabs Inner -->
      <!-- Col 2 -->
      <div class="col order-lg-12">
        <ul class="nav nav-tabs d-flex justify-content-between flex-column h-100 py-4 col-second" role="tablist">

            {{#items_col2}}
              <li class="nav-item wow fadeInRight">
                <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
              </li>
            {{/items_col2}}

        </ul>
      </div>
      <!-- /Col 2 -->
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn mx-auto btn-main-outline waves-effect">{{button_title}}</button>
      </div>
    </div>
  </div>
  </div>
  {{/web}}
</section>
