<div class="fixed-container">
  <a id="orderCallToActionBtn" class="btn-filled"><i class="fa fa-download" aria-hidden="true"></i></a>
  <div class="my-4"></div>
  <a id="downloadCallToActionBtn" class="btn-filled"><i class="fa fa-download" aria-hidden="true"></i></a>
  <div class="my-4"></div>
  <a id="scrollToTop" class="btn-filled"><i class="fa fa-angle-up"></i></a>
</div>
