<div class="fixed-container">
  <a id="show_dialog" class="btn-lg btn-filled waves-effect waves-light" data-toggle="popover" data-placement="left">
    <i class="fa popover-hide"></i>
  </a>

  <div class="my-3"></div>

  <a id="scrollToTop" class="btn-lg btn-main-outline waves-effect waves-light">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
