<div class="fixed-container">
  <a id="show_dialog" class="btn-lg btn-filled" data-toggle="modal" tabindex="-1" data-target="#fixedContainerModal" data-backdrop="false">
    <i class="fa fa-bolt"></i>
  </a>

  <div class="my-5"></div>

  <a id="scrollToTop" class="btn-lg btn-main-outline">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
