<!--Footer-->
<footer class="page-footer text-center py-5">
  <div class="container footer-contacts-wrapper my-5">
    <!-- CTA Row -->
    <div class="row">
      <div class="col-6 col-sm-4">

      </div>
      <div class="col-6 col-sm-4">

      </div>
      <div class="col-12 mb-5 text-center">
        <a class="btn btn-outline-demo waves-effect waves-light"  data-toggle="modal" data-target="#presentationModalBottom" data-backdrop="false">Презентация
          <i class="fa fa-sign-in ml-2"></i>
        </a>
        <a class="btn btn-outline-demo waves-effect waves-light"  data-toggle="modal" data-target="#callToActionModal" data-backdrop="true">Консультация
          <i class="fa fa-phone ml-2" aria-hidden="true"></i>
        </a>
        <hr class="header-divider">
      </div>
    </div>
    <!-- CTA Row END -->
    <!-- Contact info Row -->
    <div class="row">
      <div class="col-sm-3">
        <a href="tel:+380933277232">
          <div class="media">
            <div class="contact-icon-holder mr-1">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="mt-0">+380 93 327 72 32</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="contact-icon-holder mr-1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>

          <div class="media-body">
            <p class="mt-0">Киев, ул. Юрия Шумского, 1б <br/>2 этаж, LEX Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <a href="mailto:office@LexMarketing.com.ua">
          <div class="media">
            <div class="contact-icon-holder mr-1">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="mt-0">office@LexMarketing.com.ua</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">

          <div class="media">
            <div class="contact-icon-holder mr-1">
                <i class="fa  fa-clock-o" aria-hidden="true"></i>
            </div>

            <div class="media-body">
              <p class="mt-0">Пн-Пт: 09:00 - 18:00 <br/>Сб-Вс: по согласованию</p>
            </div>
          </div>

      </div>
    </div>
    <!-- Contact info Row END -->
  </div>
</footer>
<!--/.Footer-->
<!-- scripts -->
<script type="text/javascript" src="js/libs.min.js"></script>
<script type="text/javascript" src="js/bundle.min.js"></script>
<!-- /scripts -->
