<!--Footer-->
<footer class="page-footer text-center py-1">
  <div class="container footer-contacts-wrapper my-5">
    <!-- Contact info Row -->
    <div class="row">
      <!-- <div class="col-12">
        <hr class="header-divider">
      </div> -->
      <div class="col-12 col-lg-3">

          <div class="media d-flex h-100">
            <a href="tel:+380933277232" class="d-flex h-100">
              <div class="contact-icon-holder mr-1 d-flex align-self-center ">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="media-body align-self-center">
                <span class="my-0">+380933277232</span>
              </div>
            </a>
          </div>

      </div>
      <div class="col-12 col-lg-3">
        <div class="media d-flex h-100">
          <div class="contact-icon-holder mr-1 d-flex align-self-center">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>

          <div class="media-body align-self-center ">
            <span class="my-0">Киев, ул. Юрия Шумского, 1б <br/>2 этаж, LEX Marketing</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">

          <div class="media d-flex h-100">
            <a href="mailto:office@LexMarketing.com.ua"  class="d-flex h-100">
              <div class="contact-icon-holder mr-1 d-flex align-self-center">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
              <div class="media-body align-self-center">
                <span class="my-0">office@LexMarketing.com.ua</span>
              </div>
            </a>
          </div>

      </div>
      <div class="col-12 col-lg-3">
        <div class="media d-flex h-100">
            <div class="contact-icon-holder mr-1 d-flex align-self-center">
                <i class="fa  fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="media-body align-self-center">
              <span class="my-0">Пн-Пт: 09:00 - 18:00 <br/>Сб-Вс: по согласованию</span>
            </div>
          </div>
      </div>
    </div>
    <!-- Contact info Row END -->
    <!-- CTA Row -->
    <!-- <div class="row">
      <div class="col-12 text-center">
        <hr class="header-divider">
        <a class="btn btn-main-outline waves-effect waves-light"  data-toggle="modal" data-target="#presentationModalBottom" data-backdrop="false">Презентация
          <i class="fa fa-sign-in ml-2"></i>
        </a>
        <a class="btn btn-main-outline waves-effect waves-light"  data-toggle="modal" data-target="#callToActionModal" data-backdrop="true">Консультация
          <i class="fa fa-phone ml-2" aria-hidden="true"></i>
        </a>
      </div>
    </div> -->
    <!-- CTA Row END -->
  </div>
</footer>
<section class="footer-copyrights py-4">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <a  class="text-white" href="http://lexmarketing.com.ua/">LexMarketing | Мерчандайзинг, Ритейл, Трейд-маркетинг</a>
        <br><small class="text-white pt-1">© 2007-2018</small>
      </div>
    </div>
  </div>
</section>
<!--/.Footer-->
<!-- scripts -->
<script type="text/javascript" src="assets/js/libs.min.js"></script>
<script type="text/javascript" src="assets/js/bundle.min.js"></script>
<!-- /scripts -->
