<!--Footer-->
<footer class="page-footer text-center py-5 wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
    <a class="btn btn-lg btn-outline-white" href="#" target="_blank" role="button">Demo
      <i class="fa fa-download ml-2"></i>
    </a>
  </div>
  <!--/.Call to action-->

</footer>
<!--/.Footer-->
<!-- scripts -->
<script type="text/javascript" src="js/libs.min.js"></script>
<script type="text/javascript" src="js/bundle.min.js"></script>
<!-- /scripts -->
