<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="alternate" hreflang="ua" href="http://example.com/ua">
  <link rel="alternate" hreflang="en" href="http://example.com/en">
  <link rel="alternate" hreflang="x-default" href="http://example.com/ru">
  <link rel="stylesheet" href="../assets/css/libs.min.css">
  <link rel="stylesheet" href="../assets/css/style.min.css">
  <title>MMCS</title>
  <meta name="theme-color" content="#1C2331">
	<!-- Search Engine Meta Tags -->

	<meta name="description" content="Description website">
	<meta name="author" content="MMCS">
	<meta name="contact" content="office@LexMarketing.com.ua">
	<meta name="keywords" content="&#x43C;&#x435;&#x440;&#x447;&#x435;&#x43D;&#x434;&#x430;&#x439;&#x437;&#x438;&#x43D;&#x433;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;, &#x430;&#x443;&#x434;&#x438;&#x442;, &#x43F;&#x440;&#x43E;&#x433;&#x440;&#x430;&#x43C;&#x43C;&#x430;">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="5 month">
	<meta name="image" content="http://mywebsite.com/image.jpg">
	<meta name="copyright" content="LexMarketing">
	<meta name="abstract" content="Small description of MMCS">

	<!-- Open Graph Meta Tags -->

	<meta name="og:title" content="MMCS">
	<meta name="og:description" content="Description website">
	<meta name="og:image" content="http://mywebsite.com/image.jpg">
	<meta name="og:site_name" content="MMCS Website">
	<meta name="og:type" content="website">
	<meta name="og:locale" content="ru">
	<meta name="og:url" content="">

	<!-- Schema.org Meta Tags -->

	<meta itemprop="description" content="Description website">
	<meta itemprop="image" content="http://mywebsite.com/image.jpg">
	<meta itemprop="name" content="MMCS Website">

	<!-- Twitter Meta Tags -->

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="MMCS">
	<meta name="twitter:description" content="Description website">
</head>
<body></body></html>
