<div class="row">
  <div class="col text-center">
    <h2 class="h2 h2-responsive text-uppercase">{{heading}}</h2>
    <!-- <h6 class="h6">{{sub_heading}}</h6> -->
    <hr class="header-divider">
  </div>
</div>
