<html prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="alternate" hreflang="ua" href="http://example.com/ua">
  <link rel="alternate" hreflang="en" href="http://example.com/en">
  <link rel="alternate" hreflang="x-default" href="http://example.com/ru">
  <link rel="stylesheet" href="../assets/css/libs.min.css">
  <link rel="stylesheet" href="../assets/css/style.min.css">
</head>
