<!-- Navbar -->
<nav id="menu" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  {{#nav_landing}}
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" >
      <img src="../assets/img/logo.png" alt="" class="logo">
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav ml-auto d-md-flex align-items-md-center align-items-end">

        {{#nav_link_innerer}}
        <li class="nav-item">
          <a class="nav-link nav-link-innerer" href="{{ href }}">{{displayName}}</a>
        </li>
        {{/nav_link_innerer}}

        <li class="nav-item">
          <a class="waves-light ml-auto contact-modal-link" data-toggle="modal" data-target="#contactModal" data-backdrop="true">
            {{contact_link}}
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-main-outline waves-effect waves-light btn-fill-tr" target="_blank" href="http://mmcs.com.ua/">{{singin}}
            <i class="fa fa-sign-in ml-2 mr-0"></i>
          </a>
        </li>
        <!-- <li class="nav-item locales">
          <div class="btn-group">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RU</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><span class="pl-2">Ru</span></a>
              <a class="dropdown-item" href="#"><span class="pl-2">Eng</span></a>
              <a class="dropdown-item" href="#"><span class="pl-2">Ukr</span></a>
            </div>
          </div>
        </li> -->
      </ul>
      <!-- Right -->
    </div>
  </div>
  {{/nav_landing}}
</nav>
<!-- Navbar -->
