<!-- Navbar -->
<nav id="menu" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="#intro" target="_blank">
      <img src="/img/logo.png" alt="" class="logo">
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav ml-auto">
        {{#nav}}
          <li class="nav-item">
            <a class="nav-link" href="{{ href }}">{{displayName}}</a>
          </li>
        {{/nav}}
      </ul>

      <!-- Right -->


    </div>

  </div>
</nav>
<!-- Navbar -->
