<div class="row">
  <!-- Col 1 -->
  <div class="col">
    <ul class="nav nav-tabs d-flex justify-content-between flex-column col-first text-right" role="tablist">

      {{#items_col1}}
        <li class="nav-item wow fadeInLeft">
          <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
        </li>
      {{/items_col1}}

    </ul>
  </div>
  <!-- /Col 1  -->
  <!-- Content Tabs Inner -->
  <div class="{{content-class}}">
    <div class="tab-content wow fadeIn" id="webTabContent">

      {{#items_col1}}
        <div class="tab-pane {{show}} {{active}}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
          <div class="tab-content-inner">
            <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
        <img src="assets/img/mmcs/{{image}}.png" class="" alt="{{title}}">
      </a>
          </div>
        </div>
      {{/items_col1}}

      <!--  -->

      {{#items_col2}}
        <div class="tab-pane" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
          <div class="tab-content-inner">
            <a class="image-popup" href="assets/img/mmcs/{{image}}2.png">
        <img src="assets/img/mmcs/{{image}}.png" class="img-fluid" alt="{{title}}">
      </a>
          </div>
        </div>
      {{/items_col2}}

    </div>
  </div>
  <!-- /Content Tabs Inner -->
  <!-- Col 2 -->
  <div class="col order-lg-12">
    <ul class="nav nav-tabs d-flex justify-content-between flex-column col-second" role="tablist">

      {{#items_col2}}
        <li class="nav-item wow fadeInRight">
          <a class="nav-link {{active}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{selected}}">{{title}}</a>
        </li>
      {{/items_col2}}

    </ul>
  </div>
  <!-- /Col 2 -->
</div>
