// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$24-hours-name: '24-hours';
$24-hours-x: 5790px;
$24-hours-y: 1926px;
$24-hours-offset-x: -5790px;
$24-hours-offset-y: -1926px;
$24-hours-width: 64px;
$24-hours-height: 64px;
$24-hours-total-width: 5920px;
$24-hours-total-height: 5451px;
$24-hours-image: '../../sprite_png.png';
$24-hours: (5790px, 1926px, -5790px, -1926px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', '24-hours', );
$check-in-name: 'check_in';
$check-in-x: 5790px;
$check-in-y: 1990px;
$check-in-offset-x: -5790px;
$check-in-offset-y: -1990px;
$check-in-width: 64px;
$check-in-height: 64px;
$check-in-total-width: 5920px;
$check-in-total-height: 5451px;
$check-in-image: '../../sprite_png.png';
$check-in: (5790px, 1990px, -5790px, -1990px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', 'check_in', );
$dashboard-name: 'dashboard';
$dashboard-x: 5854px;
$dashboard-y: 2054px;
$dashboard-offset-x: -5854px;
$dashboard-offset-y: -2054px;
$dashboard-width: 64px;
$dashboard-height: 64px;
$dashboard-total-width: 5920px;
$dashboard-total-height: 5451px;
$dashboard-image: '../../sprite_png.png';
$dashboard: (5854px, 2054px, -5854px, -2054px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', 'dashboard', );
$data-name: 'data';
$data-x: 5790px;
$data-y: 2054px;
$data-offset-x: -5790px;
$data-offset-y: -2054px;
$data-width: 64px;
$data-height: 64px;
$data-total-width: 5920px;
$data-total-height: 5451px;
$data-image: '../../sprite_png.png';
$data: (5790px, 2054px, -5790px, -2054px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', 'data', );
$mobile-app-name: 'mobile_app';
$mobile-app-x: 5854px;
$mobile-app-y: 1990px;
$mobile-app-offset-x: -5854px;
$mobile-app-offset-y: -1990px;
$mobile-app-width: 64px;
$mobile-app-height: 64px;
$mobile-app-total-width: 5920px;
$mobile-app-total-height: 5451px;
$mobile-app-image: '../../sprite_png.png';
$mobile-app: (5854px, 1990px, -5854px, -1990px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', 'mobile_app', );
$reports-name: 'reports';
$reports-x: 5854px;
$reports-y: 1926px;
$reports-offset-x: -5854px;
$reports-offset-y: -1926px;
$reports-width: 64px;
$reports-height: 64px;
$reports-total-width: 5920px;
$reports-total-height: 5451px;
$reports-image: '../../sprite_png.png';
$reports: (5854px, 1926px, -5854px, -1926px, 64px, 64px, 5920px, 5451px, '../../sprite_png.png', 'reports', );
$testimonials-name: 'testimonials';
$testimonials-x: 4620px;
$testimonials-y: 3822px;
$testimonials-offset-x: -4620px;
$testimonials-offset-y: -3822px;
$testimonials-width: 1280px;
$testimonials-height: 380px;
$testimonials-total-width: 5920px;
$testimonials-total-height: 5451px;
$testimonials-image: '../../sprite_png.png';
$testimonials: (4620px, 3822px, -4620px, -3822px, 1280px, 380px, 5920px, 5451px, '../../sprite_png.png', 'testimonials', );
$-bic-name: 'Bic';
$-bic-x: 4285px;
$-bic-y: 4593px;
$-bic-offset-x: -4285px;
$-bic-offset-y: -4593px;
$-bic-width: 231px;
$-bic-height: 78px;
$-bic-total-width: 5920px;
$-bic-total-height: 5451px;
$-bic-image: '../../sprite_png.png';
$-bic: (4285px, 4593px, -4285px, -4593px, 231px, 78px, 5920px, 5451px, '../../sprite_png.png', 'Bic', );
$-cheese-club-name: 'Cheese Club';
$-cheese-club-x: 5790px;
$-cheese-club-y: 1803px;
$-cheese-club-offset-x: -5790px;
$-cheese-club-offset-y: -1803px;
$-cheese-club-width: 122px;
$-cheese-club-height: 123px;
$-cheese-club-total-width: 5920px;
$-cheese-club-total-height: 5451px;
$-cheese-club-image: '../../sprite_png.png';
$-cheese-club: (5790px, 1803px, -5790px, -1803px, 122px, 123px, 5920px, 5451px, '../../sprite_png.png', 'Cheese Club', );
$-conte-name: 'Conte';
$-conte-x: 4291px;
$-conte-y: 4894px;
$-conte-offset-x: -4291px;
$-conte-offset-y: -4894px;
$-conte-width: 203px;
$-conte-height: 82px;
$-conte-total-width: 5920px;
$-conte-total-height: 5451px;
$-conte-image: '../../sprite_png.png';
$-conte: (4291px, 4894px, -4291px, -4894px, 203px, 82px, 5920px, 5451px, '../../sprite_png.png', 'Conte', );
$-danone-name: 'Danone';
$-danone-x: 5558px;
$-danone-y: 4221px;
$-danone-offset-x: -5558px;
$-danone-offset-y: -4221px;
$-danone-width: 335px;
$-danone-height: 120px;
$-danone-total-width: 5920px;
$-danone-total-height: 5451px;
$-danone-image: '../../sprite_png.png';
$-danone: (5558px, 4221px, -5558px, -4221px, 335px, 120px, 5920px, 5451px, '../../sprite_png.png', 'Danone', );
$-essity-name: 'Essity';
$-essity-x: 5449px;
$-essity-y: 4481px;
$-essity-offset-x: -5449px;
$-essity-offset-y: -4481px;
$-essity-width: 279px;
$-essity-height: 72px;
$-essity-total-width: 5920px;
$-essity-total-height: 5451px;
$-essity-image: '../../sprite_png.png';
$-essity: (5449px, 4481px, -5449px, -4481px, 279px, 72px, 5920px, 5451px, '../../sprite_png.png', 'Essity', );
$-evyap-name: 'Evyap';
$-evyap-x: 5194px;
$-evyap-y: 4676px;
$-evyap-offset-x: -5194px;
$-evyap-offset-y: -4676px;
$-evyap-width: 222px;
$-evyap-height: 93px;
$-evyap-total-width: 5920px;
$-evyap-total-height: 5451px;
$-evyap-image: '../../sprite_png.png';
$-evyap: (5194px, 4676px, -5194px, -4676px, 222px, 93px, 5920px, 5451px, '../../sprite_png.png', 'Evyap', );
$-frosch-name: 'Frosch';
$-frosch-x: 3926px;
$-frosch-y: 4894px;
$-frosch-offset-x: -3926px;
$-frosch-offset-y: -4894px;
$-frosch-width: 174px;
$-frosch-height: 122px;
$-frosch-total-width: 5920px;
$-frosch-total-height: 5451px;
$-frosch-image: '../../sprite_png.png';
$-frosch: (3926px, 4894px, -3926px, -4894px, 174px, 122px, 5920px, 5451px, '../../sprite_png.png', 'Frosch', );
$-g-s-k-name: 'GSK';
$-g-s-k-x: 4285px;
$-g-s-k-y: 4481px;
$-g-s-k-offset-x: -4285px;
$-g-s-k-offset-y: -4481px;
$-g-s-k-width: 315px;
$-g-s-k-height: 112px;
$-g-s-k-total-width: 5920px;
$-g-s-k-total-height: 5451px;
$-g-s-k-image: '../../sprite_png.png';
$-g-s-k: (4285px, 4481px, -4285px, -4481px, 315px, 112px, 5920px, 5451px, '../../sprite_png.png', 'GSK', );
$-humana-name: 'Humana';
$-humana-x: 5416px;
$-humana-y: 4676px;
$-humana-offset-x: -5416px;
$-humana-offset-y: -4676px;
$-humana-width: 215px;
$-humana-height: 93px;
$-humana-total-width: 5920px;
$-humana-total-height: 5451px;
$-humana-image: '../../sprite_png.png';
$-humana: (5416px, 4676px, -5416px, -4676px, 215px, 93px, 5920px, 5451px, '../../sprite_png.png', 'Humana', );
$-imperial-name: 'Imperial';
$-imperial-x: 3714px;
$-imperial-y: 5034px;
$-imperial-offset-x: -3714px;
$-imperial-offset-y: -5034px;
$-imperial-width: 180px;
$-imperial-height: 100px;
$-imperial-total-width: 5920px;
$-imperial-total-height: 5451px;
$-imperial-image: '../../sprite_png.png';
$-imperial: (3714px, 5034px, -3714px, -5034px, 180px, 100px, 5920px, 5451px, '../../sprite_png.png', 'Imperial', );
$-k-m-w-name: 'KMW';
$-k-m-w-x: 4798px;
$-k-m-w-y: 4676px;
$-k-m-w-offset-x: -4798px;
$-k-m-w-offset-y: -4676px;
$-k-m-w-width: 200px;
$-k-m-w-height: 126px;
$-k-m-w-total-width: 5920px;
$-k-m-w-total-height: 5451px;
$-k-m-w-image: '../../sprite_png.png';
$-k-m-w: (4798px, 4676px, -4798px, -4676px, 200px, 126px, 5920px, 5451px, '../../sprite_png.png', 'KMW', );
$-kernel-name: 'Kernel';
$-kernel-x: 4924px;
$-kernel-y: 4481px;
$-kernel-offset-x: -4924px;
$-kernel-offset-y: -4481px;
$-kernel-width: 261px;
$-kernel-height: 91px;
$-kernel-total-width: 5920px;
$-kernel-total-height: 5451px;
$-kernel-image: '../../sprite_png.png';
$-kernel: (4924px, 4481px, -4924px, -4481px, 261px, 91px, 5920px, 5451px, '../../sprite_png.png', 'Kernel', );
$-komo-name: 'Komo';
$-komo-x: 4494px;
$-komo-y: 4894px;
$-komo-offset-x: -4494px;
$-komo-offset-y: -4894px;
$-komo-width: 182px;
$-komo-height: 82px;
$-komo-total-width: 5920px;
$-komo-total-height: 5451px;
$-komo-image: '../../sprite_png.png';
$-komo: (4494px, 4894px, -4494px, -4894px, 182px, 82px, 5920px, 5451px, '../../sprite_png.png', 'Komo', );
$-nivea-name: 'Nivea';
$-nivea-x: 4600px;
$-nivea-y: 4481px;
$-nivea-offset-x: -4600px;
$-nivea-offset-y: -4481px;
$-nivea-width: 324px;
$-nivea-height: 102px;
$-nivea-total-width: 5920px;
$-nivea-total-height: 5451px;
$-nivea-image: '../../sprite_png.png';
$-nivea: (4600px, 4481px, -4600px, -4481px, 324px, 102px, 5920px, 5451px, '../../sprite_png.png', 'Nivea', );
$-rollton-name: 'Rollton';
$-rollton-x: 5631px;
$-rollton-y: 4676px;
$-rollton-offset-x: -5631px;
$-rollton-offset-y: -4676px;
$-rollton-width: 195px;
$-rollton-height: 88px;
$-rollton-total-width: 5920px;
$-rollton-total-height: 5451px;
$-rollton-image: '../../sprite_png.png';
$-rollton: (5631px, 4676px, -5631px, -4676px, 195px, 88px, 5920px, 5451px, '../../sprite_png.png', 'Rollton', );
$-strauss-name: 'Strauss';
$-strauss-x: 4581px;
$-strauss-y: 4676px;
$-strauss-offset-x: -4581px;
$-strauss-offset-y: -4676px;
$-strauss-width: 217px;
$-strauss-height: 138px;
$-strauss-total-width: 5920px;
$-strauss-total-height: 5451px;
$-strauss-image: '../../sprite_png.png';
$-strauss: (4581px, 4676px, -4581px, -4676px, 217px, 138px, 5920px, 5451px, '../../sprite_png.png', 'Strauss', );
$-veres-name: 'Veres';
$-veres-x: 4100px;
$-veres-y: 4894px;
$-veres-offset-x: -4100px;
$-veres-offset-y: -4894px;
$-veres-width: 191px;
$-veres-height: 96px;
$-veres-total-width: 5920px;
$-veres-total-height: 5451px;
$-veres-image: '../../sprite_png.png';
$-veres: (4100px, 4894px, -4100px, -4894px, 191px, 96px, 5920px, 5451px, '../../sprite_png.png', 'Veres', );
$henkel-name: 'henkel';
$henkel-x: 4998px;
$henkel-y: 4676px;
$henkel-offset-x: -4998px;
$henkel-offset-y: -4676px;
$henkel-width: 196px;
$henkel-height: 111px;
$henkel-total-width: 5920px;
$henkel-total-height: 5451px;
$henkel-image: '../../sprite_png.png';
$henkel: (4998px, 4676px, -4998px, -4676px, 196px, 111px, 5920px, 5451px, '../../sprite_png.png', 'henkel', );
$bic-name: 'bic';
$bic-x: 4336px;
$bic-y: 4676px;
$bic-offset-x: -4336px;
$bic-offset-y: -4676px;
$bic-width: 245px;
$bic-height: 140px;
$bic-total-width: 5920px;
$bic-total-height: 5451px;
$bic-image: '../../sprite_png.png';
$bic: (4336px, 4676px, -4336px, -4676px, 245px, 140px, 5920px, 5451px, '../../sprite_png.png', 'bic', );
$essity-name: 'essity';
$essity-x: 5558px;
$essity-y: 4341px;
$essity-offset-x: -5558px;
$essity-offset-y: -4341px;
$essity-width: 280px;
$essity-height: 140px;
$essity-total-width: 5920px;
$essity-total-height: 5451px;
$essity-image: '../../sprite_png.png';
$essity: (5558px, 4341px, -5558px, -4341px, 280px, 140px, 5920px, 5451px, '../../sprite_png.png', 'essity', );
$gsk-name: 'gsk';
$gsk-x: 3560px;
$gsk-y: 5034px;
$gsk-offset-x: -3560px;
$gsk-offset-y: -5034px;
$gsk-width: 154px;
$gsk-height: 132px;
$gsk-total-width: 5920px;
$gsk-total-height: 5451px;
$gsk-image: '../../sprite_png.png';
$gsk: (3560px, 5034px, -3560px, -5034px, 154px, 132px, 5920px, 5451px, '../../sprite_png.png', 'gsk', );
$henkel-name: 'henkel';
$henkel-x: 4090px;
$henkel-y: 4676px;
$henkel-offset-x: -4090px;
$henkel-offset-y: -4676px;
$henkel-width: 246px;
$henkel-height: 140px;
$henkel-total-width: 5920px;
$henkel-total-height: 5451px;
$henkel-image: '../../sprite_png.png';
$henkel: (4090px, 4676px, -4090px, -4676px, 246px, 140px, 5920px, 5451px, '../../sprite_png.png', 'henkel', );
$nivea-bw-name: 'nivea_bw';
$nivea-bw-x: 3560px;
$nivea-bw-y: 4894px;
$nivea-bw-offset-x: -3560px;
$nivea-bw-offset-y: -4894px;
$nivea-bw-width: 195px;
$nivea-bw-height: 140px;
$nivea-bw-total-width: 5920px;
$nivea-bw-total-height: 5451px;
$nivea-bw-image: '../../sprite_png.png';
$nivea-bw: (3560px, 4894px, -3560px, -4894px, 195px, 140px, 5920px, 5451px, '../../sprite_png.png', 'nivea_bw', );
$nutricia-name: 'nutricia';
$nutricia-x: 3755px;
$nutricia-y: 4894px;
$nutricia-offset-x: -3755px;
$nutricia-offset-y: -4894px;
$nutricia-width: 171px;
$nutricia-height: 131px;
$nutricia-total-width: 5920px;
$nutricia-total-height: 5451px;
$nutricia-image: '../../sprite_png.png';
$nutricia: (3755px, 4894px, -3755px, -4894px, 171px, 131px, 5920px, 5451px, '../../sprite_png.png', 'nutricia', );
$russia-name: 'russia';
$russia-x: 5822px;
$russia-y: 2118px;
$russia-offset-x: -5822px;
$russia-offset-y: -2118px;
$russia-width: 32px;
$russia-height: 32px;
$russia-total-width: 5920px;
$russia-total-height: 5451px;
$russia-image: '../../sprite_png.png';
$russia: (5822px, 2118px, -5822px, -2118px, 32px, 32px, 5920px, 5451px, '../../sprite_png.png', 'russia', );
$ukraine-name: 'ukraine';
$ukraine-x: 5790px;
$ukraine-y: 2118px;
$ukraine-offset-x: -5790px;
$ukraine-offset-y: -2118px;
$ukraine-width: 32px;
$ukraine-height: 32px;
$ukraine-total-width: 5920px;
$ukraine-total-height: 5451px;
$ukraine-image: '../../sprite_png.png';
$ukraine: (5790px, 2118px, -5790px, -2118px, 32px, 32px, 5920px, 5451px, '../../sprite_png.png', 'ukraine', );
$united-kingdom-name: 'united-kingdom';
$united-kingdom-x: 5854px;
$united-kingdom-y: 2118px;
$united-kingdom-offset-x: -5854px;
$united-kingdom-offset-y: -2118px;
$united-kingdom-width: 32px;
$united-kingdom-height: 32px;
$united-kingdom-total-width: 5920px;
$united-kingdom-total-height: 5451px;
$united-kingdom-image: '../../sprite_png.png';
$united-kingdom: (5854px, 2118px, -5854px, -2118px, 32px, 32px, 5920px, 5451px, '../../sprite_png.png', 'united-kingdom', );
$default-skin-name: 'default-skin';
$default-skin-x: 5185px;
$default-skin-y: 4481px;
$default-skin-offset-x: -5185px;
$default-skin-offset-y: -4481px;
$default-skin-width: 264px;
$default-skin-height: 88px;
$default-skin-total-width: 5920px;
$default-skin-total-height: 5451px;
$default-skin-image: '../../sprite_png.png';
$default-skin: (5185px, 4481px, -5185px, -4481px, 264px, 88px, 5920px, 5451px, '../../sprite_png.png', 'default-skin', );
$logo-name: 'logo';
$logo-x: 4090px;
$logo-y: 4481px;
$logo-offset-x: -4090px;
$logo-offset-y: -4481px;
$logo-width: 195px;
$logo-height: 195px;
$logo-total-width: 5920px;
$logo-total-height: 5451px;
$logo-image: '../../sprite_png.png';
$logo: (4090px, 4481px, -4090px, -4481px, 195px, 195px, 5920px, 5451px, '../../sprite_png.png', 'logo', );
$charts-name: 'charts';
$charts-x: 0px;
$charts-y: 0px;
$charts-offset-x: 0px;
$charts-offset-y: 0px;
$charts-width: 2310px;
$charts-height: 1407px;
$charts-total-width: 5920px;
$charts-total-height: 5451px;
$charts-image: '../../sprite_png.png';
$charts: (0px, 0px, 0px, 0px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'charts', );
$charts2-name: 'charts2';
$charts2-x: 1780px;
$charts2-y: 4894px;
$charts2-offset-x: -1780px;
$charts2-offset-y: -4894px;
$charts2-width: 890px;
$charts2-height: 557px;
$charts2-total-width: 5920px;
$charts2-total-height: 5451px;
$charts2-image: '../../sprite_png.png';
$charts2: (1780px, 4894px, -1780px, -4894px, 890px, 557px, 5920px, 5451px, '../../sprite_png.png', 'charts2', );
$charts-old-name: 'charts_old';
$charts-old-x: 2340px;
$charts-old-y: 4221px;
$charts-old-offset-x: -2340px;
$charts-old-offset-y: -4221px;
$charts-old-width: 1170px;
$charts-old-height: 673px;
$charts-old-total-width: 5920px;
$charts-old-total-height: 5451px;
$charts-old-image: '../../sprite_png.png';
$charts-old: (2340px, 4221px, -2340px, -4221px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'charts_old', );
$comments-name: 'comments';
$comments-x: 2310px;
$comments-y: 1407px;
$comments-offset-x: -2310px;
$comments-offset-y: -1407px;
$comments-width: 2310px;
$comments-height: 1407px;
$comments-total-width: 5920px;
$comments-total-height: 5451px;
$comments-image: '../../sprite_png.png';
$comments: (2310px, 1407px, -2310px, -1407px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'comments', );
$comments2-name: 'comments2';
$comments2-x: 0px;
$comments2-y: 4894px;
$comments2-offset-x: 0px;
$comments2-offset-y: -4894px;
$comments2-width: 890px;
$comments2-height: 557px;
$comments2-total-width: 5920px;
$comments2-total-height: 5451px;
$comments2-image: '../../sprite_png.png';
$comments2: (0px, 4894px, 0px, -4894px, 890px, 557px, 5920px, 5451px, '../../sprite_png.png', 'comments2', );
$comments-old-name: 'comments_old';
$comments-old-x: 0px;
$comments-old-y: 4221px;
$comments-old-offset-x: 0px;
$comments-old-offset-y: -4221px;
$comments-old-width: 1170px;
$comments-old-height: 673px;
$comments-old-total-width: 5920px;
$comments-old-total-height: 5451px;
$comments-old-image: '../../sprite_png.png';
$comments-old: (0px, 4221px, 0px, -4221px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'comments_old', );
$export-name: 'export';
$export-x: 2310px;
$export-y: 2814px;
$export-offset-x: -2310px;
$export-offset-y: -2814px;
$export-width: 2310px;
$export-height: 1407px;
$export-total-width: 5920px;
$export-total-height: 5451px;
$export-image: '../../sprite_png.png';
$export: (2310px, 2814px, -2310px, -2814px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'export', );
$export2-name: 'export2';
$export2-x: 4620px;
$export2-y: 0px;
$export2-offset-x: -4620px;
$export2-offset-y: 0px;
$export2-width: 1300px;
$export2-height: 903px;
$export2-total-width: 5920px;
$export2-total-height: 5451px;
$export2-image: '../../sprite_png.png';
$export2: (4620px, 0px, -4620px, 0px, 1300px, 903px, 5920px, 5451px, '../../sprite_png.png', 'export2', );
$export-old-name: 'export_old';
$export-old-x: 4620px;
$export-old-y: 1803px;
$export-old-offset-x: -4620px;
$export-old-offset-y: -1803px;
$export-old-width: 1170px;
$export-old-height: 673px;
$export-old-total-width: 5920px;
$export-old-total-height: 5451px;
$export-old-image: '../../sprite_png.png';
$export-old: (4620px, 1803px, -4620px, -1803px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'export_old', );
$filters-name: 'filters';
$filters-x: 0px;
$filters-y: 2814px;
$filters-offset-x: 0px;
$filters-offset-y: -2814px;
$filters-width: 2310px;
$filters-height: 1407px;
$filters-total-width: 5920px;
$filters-total-height: 5451px;
$filters-image: '../../sprite_png.png';
$filters: (0px, 2814px, 0px, -2814px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'filters', );
$filters2-name: 'filters2';
$filters2-x: 890px;
$filters2-y: 4894px;
$filters2-offset-x: -890px;
$filters2-offset-y: -4894px;
$filters2-width: 890px;
$filters2-height: 557px;
$filters2-total-width: 5920px;
$filters2-total-height: 5451px;
$filters2-image: '../../sprite_png.png';
$filters2: (890px, 4894px, -890px, -4894px, 890px, 557px, 5920px, 5451px, '../../sprite_png.png', 'filters2', );
$filters-old-name: 'filters_old';
$filters-old-x: 1170px;
$filters-old-y: 4221px;
$filters-old-offset-x: -1170px;
$filters-old-offset-y: -4221px;
$filters-old-width: 1170px;
$filters-old-height: 673px;
$filters-old-total-width: 5920px;
$filters-old-total-height: 5451px;
$filters-old-image: '../../sprite_png.png';
$filters-old: (1170px, 4221px, -1170px, -4221px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'filters_old', );
$index-name: 'index';
$index-x: 0px;
$index-y: 1407px;
$index-offset-x: 0px;
$index-offset-y: -1407px;
$index-width: 2310px;
$index-height: 1407px;
$index-total-width: 5920px;
$index-total-height: 5451px;
$index-image: '../../sprite_png.png';
$index: (0px, 1407px, 0px, -1407px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'index', );
$index2-name: 'index2';
$index2-x: 4620px;
$index2-y: 903px;
$index2-offset-x: -4620px;
$index2-offset-y: -903px;
$index2-width: 1300px;
$index2-height: 900px;
$index2-total-width: 5920px;
$index2-total-height: 5451px;
$index2-image: '../../sprite_png.png';
$index2: (4620px, 903px, -4620px, -903px, 1300px, 900px, 5920px, 5451px, '../../sprite_png.png', 'index2', );
$index-old-name: 'index_old';
$index-old-x: 4620px;
$index-old-y: 3149px;
$index-old-offset-x: -4620px;
$index-old-offset-y: -3149px;
$index-old-width: 1170px;
$index-old-height: 673px;
$index-old-total-width: 5920px;
$index-old-total-height: 5451px;
$index-old-image: '../../sprite_png.png';
$index-old: (4620px, 3149px, -4620px, -3149px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'index_old', );
$maps-name: 'maps';
$maps-x: 2310px;
$maps-y: 0px;
$maps-offset-x: -2310px;
$maps-offset-y: 0px;
$maps-width: 2310px;
$maps-height: 1407px;
$maps-total-width: 5920px;
$maps-total-height: 5451px;
$maps-image: '../../sprite_png.png';
$maps: (2310px, 0px, -2310px, 0px, 2310px, 1407px, 5920px, 5451px, '../../sprite_png.png', 'maps', );
$maps2-name: 'maps2';
$maps2-x: 2670px;
$maps2-y: 4894px;
$maps2-offset-x: -2670px;
$maps2-offset-y: -4894px;
$maps2-width: 890px;
$maps2-height: 557px;
$maps2-total-width: 5920px;
$maps2-total-height: 5451px;
$maps2-image: '../../sprite_png.png';
$maps2: (2670px, 4894px, -2670px, -4894px, 890px, 557px, 5920px, 5451px, '../../sprite_png.png', 'maps2', );
$maps-old-name: 'maps_old';
$maps-old-x: 4620px;
$maps-old-y: 2476px;
$maps-old-offset-x: -4620px;
$maps-old-offset-y: -2476px;
$maps-old-width: 1170px;
$maps-old-height: 673px;
$maps-old-total-width: 5920px;
$maps-old-total-height: 5451px;
$maps-old-image: '../../sprite_png.png';
$maps-old: (4620px, 2476px, -4620px, -2476px, 1170px, 673px, 5920px, 5451px, '../../sprite_png.png', 'maps_old', );
$mobile-app-web-name: 'mobile_app_web';
$mobile-app-web-x: 3510px;
$mobile-app-web-y: 4481px;
$mobile-app-web-offset-x: -3510px;
$mobile-app-web-offset-y: -4481px;
$mobile-app-web-width: 580px;
$mobile-app-web-height: 357px;
$mobile-app-web-total-width: 5920px;
$mobile-app-web-total-height: 5451px;
$mobile-app-web-image: '../../sprite_png.png';
$mobile-app-web: (3510px, 4481px, -3510px, -4481px, 580px, 357px, 5920px, 5451px, '../../sprite_png.png', 'mobile_app_web', );
$online-logo-name: 'online_logo';
$online-logo-x: 3510px;
$online-logo-y: 4221px;
$online-logo-offset-x: -3510px;
$online-logo-offset-y: -4221px;
$online-logo-width: 2048px;
$online-logo-height: 260px;
$online-logo-total-width: 5920px;
$online-logo-total-height: 5451px;
$online-logo-image: '../../sprite_png.png';
$online-logo: (3510px, 4221px, -3510px, -4221px, 2048px, 260px, 5920px, 5451px, '../../sprite_png.png', 'online_logo', );
$spritesheet-width: 5920px;
$spritesheet-height: 5451px;
$spritesheet-image: '../../sprite_png.png';
$spritesheet-sprites: ($24-hours, $check-in, $dashboard, $data, $mobile-app, $reports, $testimonials, $-bic, $-cheese-club, $-conte, $-danone, $-essity, $-evyap, $-frosch, $-g-s-k, $-humana, $-imperial, $-k-m-w, $-kernel, $-komo, $-nivea, $-rollton, $-strauss, $-veres, $henkel, $bic, $essity, $gsk, $henkel, $nivea-bw, $nutricia, $russia, $ukraine, $united-kingdom, $default-skin, $logo, $charts, $charts2, $charts-old, $comments, $comments2, $comments-old, $export, $export2, $export-old, $filters, $filters2, $filters-old, $index, $index2, $index-old, $maps, $maps2, $maps-old, $mobile-app-web, $online-logo, );
$spritesheet: (5920px, 5451px, '../../sprite_png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
