.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-advantages_icons--24-hours {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-advantages_icons--check_in {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-advantages_icons--dashboard {
	font-size:(512.11/10)*1rem;
	width:(512.11/512.11)*1em;
}
.icon-advantages_icons--data {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-advantages_icons--mobile_app {
	font-size:(682.667/10)*1rem;
	width:(682.667/682.667)*1em;
}
.icon-advantages_icons--reports {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-counter_up--clock {
	font-size:(372.96/10)*1rem;
	width:(372.96/372.96)*1em;
}
.icon-counter_up--result {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-counter_up--team {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-counter_up--two-polaroid-pictures {
	font-size:(418.63/10)*1rem;
	width:(418.63/418.63)*1em;
}
.icon-icons--android-social-outlined-logo {
	font-size:(707.877/10)*1rem;
	width:(707.877/707.877)*1em;
}
.icon-icons--billboard {
	font-size:(682.667/10)*1rem;
	width:(682.667/682.667)*1em;
}
.icon-icons--clock {
	font-size:(612/10)*1rem;
	width:(612/612)*1em;
}
.icon-icons--competitor-analysis {
	font-size:(64.083/10)*1rem;
	width:(64.083/64.083)*1em;
}
.icon-icons--down-arrow {
	font-size:(490.4/10)*1rem;
	width:(490.4/490.4)*1em;
}
.icon-icons--download-to-storage-drive {
	font-size:(475.077/10)*1rem;
	width:(475.078/475.077)*1em;
}
.icon-icons--email-filled-closed-envelope {
	font-size:(612/10)*1rem;
	width:(612/612)*1em;
}
.icon-icons--form {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--idea {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--incognito {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--incognito1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--interview {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-icons--map-marker {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--phone-call {
	font-size:(578.11/10)*1rem;
	width:(578.11/578.11)*1em;
}
.icon-icons--play-button {
	font-size:(294.84/10)*1rem;
	width:(294.84/294.84)*1em;
}
.icon-icons--promotion {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--russia {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--search {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--uk {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--ukraine {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons--visitor {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-lightbox--default-skin {
	font-size:(88/10)*1rem;
	width:(264/88)*1em;
}
.icon-svg--arrow_left {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-svg--arrow_right {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-usage_icons--analysis {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-usage_icons--content-audit {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-usage_icons--reports {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-usage_icons--storekeeper {
	font-size:(489.54/10)*1rem;
	width:(489.54/489.54)*1em;
}
