#clients {
  opacity: 0;
  // background-color:#4B515D;
  .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
.owl-item{
  width: auto;
  margin: 0 auto;
}
  .owl-carousel .owl-item img {
    width: auto;
    // max-height: 100px;
    max-height: 60px;
    // height: 100px;
    margin: 0 auto;
  }
  .owl-carousel{
    // display: flex;
    // flex-direction: column;
    &:hover{
      .owl-next,.owl-prev{
        opacity: 1;
        transition: all .6s linear 0;
      }
    }
  }
  .owl-nav{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // position:  absolute;
    // top: 0;
    // width: 100%;
    // height:  100%;
    // margin:  0;

    button{
      @extend .btn-main-outline;
      @extend .waves-effect;
      @extend .waves-light;
      padding: auto;
      width: 50px;
      height: 50px;
      // background: #364150;
      // border-radius: 50%!important;
    }

  }
  // .owl-prev{
  //   margin-left: -50px!important;
  // }
  // .owl-next{
  //   margin-right: -50px!important;
  // }
  .owl-next,.owl-prev{
    opacity: 0;

  }

}
