#intro {
  .video-intro{
    // background-image: url('../img/backgrounds/intro.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    filter: grayscale(100%);
  }

  .sub-header{
    font-size: 2rem;
    line-height: 1.2;
  }
  /* Half Page Carousel itself*/
  .carousel {
    height: 100%;
  }

  .carousel .carousel-inner {
    height: 100%;
  }

  .carousel .carousel-inner .active,
  .carousel .carousel-inner .carousel-item {
    height: 100%;
  }
  .mask , .mask :after {
    // background-color: rgba(14, 14, 14, 0.55);
    // background-color:rgba(12, 46, 81, .5);
    // background-color:rgba(12, 46, 81, .7);
    background-color: rgba(49, 53, 58, 0.7);
  }
  // h1{
  //   color: #fff;
  //   font-size: 3rem!important;
  // }

  .sub-description{
    text-transform: uppercase;

  }
  .top-logo-holder{
    position: absolute;
    bottom: 100px;
    transform: translateX(-50%);
    left: 50%;
    max-width: 1170px;
    width: 100%;
    // height: 60px;
    .top_clients_logo{
      height: 50px;
    }
    @include media-breakpoint-down(sm){
      .top_clients_logo{
        height: 30px;
      }
    }
  }
}
#introHeading{
    font-size: 4.5rem!important;
    color: $main_color;
    height: 100px;
    #js-rotating{
      opacity:0;
    }
    #js-rotating.active{
      opacity:1
    }
}
