#fixedContainerModal{
  .btn{
    width: 200px;
  }
  .modal-side{
    max-width: 280px;
  }
  .modal-content {
    background-color: rgba(236,239,241,.98);
  }
  // .modal-scrolling {
  //   position: fixed;
  //   bottom: 20px;
  //   right: 20px;
  // }
}
