#platform-section{
  img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
.platform-content{
  .nav-tabs{
    border: 0;
    border-radius: none;
    .nav-link{
      border: none;
      font-size: 1.25rem;
      font-weight: 500;
      color: $text-muted;
      line-height: 1.1;
      padding: 0;
      background-color: transparent;
      &.active{
        color:$text-contrast;
        transition: color .3s linear;
      }
    }
    &.col-first{
      .nav-item{
        border-right: 0 solid $main-color!important;
      }
      .nav-item.active{
        border-right: 3px solid $main-color!important;
        padding-right: .25rem;
        border-radius: none;
        transition: border-right .3s linear;
      }
    }
    &.col-second{
      .nav-item{
        border-left: 0px solid $main-color!important;
      }
      .nav-item.active{
        border-left: 3px solid $main-color!important;
        border-radius: none;
        padding-left: .25rem;
        transition: border-left .3s linear;
      }
    }
    &.col-second,&.col-first{
      // padding-top: 40%;
      // padding-bottom: 40%;
      height: 80%
    }
  }

  @include media-breakpoint-down(sm){
    .nav-tabs{
      .nav-item{
        margin: 10px auto;
      }
      .nav-link{

        font-size: .8rem;
        line-height: 1.2;
        padding: 0;
      }
    }
  };
}
