#scrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: none!important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  background-color: #364150;
  display: none;
  z-index: 1010;
  i{
    color: #fff;
  }
}
