#carouselTestimonials2{
  // background-color: #eceff1;
  .testimonial-item {
    color: white;
    max-height: 320px;
    img{
      width: 100px!important;
      height: 100px!important;

      // max-width: 300px!important;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }
    p{
      font-size: 1.75rem;
      line-height: 3rem;
    }
  }
}
