#web-section{
  .nav-tabs{
    border: none;
    border-radius: none;
    .nav-link{
      border: none;
      border-radius: none;
      font-size: 1.25rem;
      font-weight: 500;
      color: #495057;
      &.active{
        color:#007bff;
      }
    }
    &.col-first{
      .nav-item.active{
        border-right: 2px solid #3598dc!important;
        border-radius: none;
      }
    }
    &.col-second{
      .nav-item.active{
        border-left: 2px solid #3598dc!important;
        border-radius: none;
      }
    }
  }
  .tab-content-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
