#web-section{
  // background-color: #f5f5f5;
  background-color: #ffffff;
  .nav-tabs{
    border: none;
    border-radius: none;
    .nav-link{
      border: none;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: $text-muted;
      line-height: 1.1;
      padding: 10px;
      background-color: transparent;
      &.active{
        color:$text-contrast;
        transition: color .3s linear;
      }
    }
    &.col-first{
      .nav-item{
        &:before{
          right: -3px;
        }
      }
      .nav-item.active{
        &:before{
          right: 0;
        }
      }
    }
    &.col-second{
      .nav-item{
        &:before{
          left: -3px;
        }
      }
      .nav-item.active{
        &:before{
          left: 0;
        }
      }
    }
    &.col-second,&.col-first{
      // padding-top: 40%;
      // padding-bottom: 40%;
      height: 80%;

      .nav-item{
        padding: 0;

        &:before{
          content:"";
          height: 100%;
          top: 0;
          width: 0px;
          transition: all .5s linear;
        }
      }
      .nav-item.active{
        transition: all .3s linear;
        &:before{
          width: 3px;

          top: 0;
          display: block;
          position: absolute;
          background-color: $main_color;
        }
      }
    }
  }

  @include media-breakpoint-down(sm){
    .nav-tabs{
      .nav-item{
        margin: 10px auto;
      }
      .nav-link{

        font-size: .8rem;
        line-height: 1.2;
        padding: 10px;
      }
    }
  };
  img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .popup-video{
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    svg{
      width: 70px;
      height: 70px;
      fill: $main_color;

      transition: all .3s linear;
    }
    &:hover{

    }
  }
}
