

<!-- Modal -->
<div class="modal fade right" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true" data-backdrop='true'>
  <div class="modal-dialog modal-fluid modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalPreviewLabel">Связаться с нами</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

            <!--Grid column-->
            <div class="col-12 mb-md-0 mb-5">
                <!-- <form id="contact-form" name="contact-form" action="mail.php" method="POST"> -->
                <form id="contact-form" name="contact-form">

                    <!--Grid row-->
                    <div class="row">


                        <div class="col-12">
                            <div class="md-form mb-0">
                                <input type="text" name="name" class="form-control">
                                <label for="name" class="">Ваше имя</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="md-form mb-0">
                                <input type="text" name="email" class="form-control">
                                <label for="email" class="">Ваш email</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="md-form mb-0">
                                <input type="text" name="phone" class="form-control">
                                <label for="phone" class="">Ваш телефон</label>
                            </div>
                        </div>

                        <div class="col-12">

                            <div class="md-form">
                                <textarea type="text" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Сообщение</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-center text-md-left">
                        <!-- <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Отправить</a> -->
                        <!-- <a class="btn btn-main-outline btn-submit" >Отправить</a> -->
                        <a class="btn btn-filled btn-submit" >Отправить</a>
                    </div>
                </form>


                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->

        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12">
            <ul class="list-unstyled">
                <li class="my-2">
                  <i class="fa fa-map-marker"></i>
                    <span>Киев, ул. Юрия Шумского, 1б <br />2 этаж, LEX Marketing</span>
                </li>

                <li class="my-2">
                  <i class="fa fa-phone"></i>
                    <span>+380 93 327 72 32</span>
                </li>

                <li class="my-2">
                  <i class="fa fa-envelope"></i>
                    <span>office@LexMarketing.com.ua</span>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
