<!-- Modal -->
<div class="modal fade right" id="fixedContainerModal" role="dialog" aria-labelledby="fixedContainerModalTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center pt-0">
              <button type="button" class="close align-self-end mt-2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <a class="btn btn-filled waves-effect waves-light btn-presentation">
                Презентация
                <i class="fa fa-download ml-2" aria-hidden="true"></i>
              </a>
              <div class="my-2"></div>
              <a class="btn btn-filled waves-effect waves-light btn-consultation" data-toggle="modal" data-target="#contactModal" data-backdrop="true">
                Консультация
                <i class="fa fa-comments-o ml-2" aria-hidden="true"></i>
              </a>
            </div>
        </div>
    </div>
</div>
