<div class="modal fade right" id="localesModalTopRight"  tabindex="-1" role="dialog" aria-labelledby="localesModalTopRightLabel" aria-hidden="true" data-backdrop='false'>
  <div class="modal-dialog modal-side modal-top-right" role="document">

    <!--Content-->
    <div class="modal-content z-depth-2 ">
      <!--Body-->
      <div class="modal-body d-flex justify-content-between">
        <a href="" class="locales-select-item text-white">
          <img src="../assets/img/icons/ukraine.png" alt="">
          <span class="locales-text ml-2">UKR</span>
        </a>
        <a href="" class="locales-select-item text-white" >
          <img src="../assets/img/icons/united-kingdom.png" alt="">
          <span class="locales-text ml-2">ENG</span>
        </a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
