<div class="modal fade bottom modal-content-clickable color-block-dark special-color-dark z-depth-2" id="presentationModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" style="display: block; padding-right: 17px;">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content color-block-dark special-color-dark z-depth-2 ">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <h4 class="pt-3 pr-2 text-white">Хотите посмотреть презентацию нашего приложения?</h4>

          <a class="btn btn-success waves-effect waves-light">Скачать
            <i class="fa fa-diamond ml-1 text-white"></i>
          </a>
          <a class="btn btn-outline-success waves-effect" data-dismiss="modal">Не сейчас</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
