/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-24-hours {
  background-image: url(sprite.png);
  background-position: -5790px -1926px;
  width: 64px;
  height: 64px;
}
.icon-check_in {
  background-image: url(sprite.png);
  background-position: -5790px -1990px;
  width: 64px;
  height: 64px;
}
.icon-dashboard {
  background-image: url(sprite.png);
  background-position: -5854px -2054px;
  width: 64px;
  height: 64px;
}
.icon-data {
  background-image: url(sprite.png);
  background-position: -5790px -2054px;
  width: 64px;
  height: 64px;
}
.icon-mobile_app {
  background-image: url(sprite.png);
  background-position: -5854px -1990px;
  width: 64px;
  height: 64px;
}
.icon-reports {
  background-image: url(sprite.png);
  background-position: -5854px -1926px;
  width: 64px;
  height: 64px;
}
.icon-testimonials {
  background-image: url(sprite.png);
  background-position: -4620px -3822px;
  width: 1280px;
  height: 380px;
}
.icon-Bic {
  background-image: url(sprite.png);
  background-position: -4285px -4593px;
  width: 231px;
  height: 78px;
}
.icon-Cheese Club {
  background-image: url(sprite.png);
  background-position: -5790px -1803px;
  width: 122px;
  height: 123px;
}
.icon-Conte {
  background-image: url(sprite.png);
  background-position: -4291px -4894px;
  width: 203px;
  height: 82px;
}
.icon-Danone {
  background-image: url(sprite.png);
  background-position: -5558px -4221px;
  width: 335px;
  height: 120px;
}
.icon-Essity {
  background-image: url(sprite.png);
  background-position: -5449px -4481px;
  width: 279px;
  height: 72px;
}
.icon-Evyap {
  background-image: url(sprite.png);
  background-position: -5194px -4676px;
  width: 222px;
  height: 93px;
}
.icon-Frosch {
  background-image: url(sprite.png);
  background-position: -3926px -4894px;
  width: 174px;
  height: 122px;
}
.icon-GSK {
  background-image: url(sprite.png);
  background-position: -4285px -4481px;
  width: 315px;
  height: 112px;
}
.icon-Humana {
  background-image: url(sprite.png);
  background-position: -5416px -4676px;
  width: 215px;
  height: 93px;
}
.icon-Imperial {
  background-image: url(sprite.png);
  background-position: -3714px -5034px;
  width: 180px;
  height: 100px;
}
.icon-KMW {
  background-image: url(sprite.png);
  background-position: -4798px -4676px;
  width: 200px;
  height: 126px;
}
.icon-Kernel {
  background-image: url(sprite.png);
  background-position: -4924px -4481px;
  width: 261px;
  height: 91px;
}
.icon-Komo {
  background-image: url(sprite.png);
  background-position: -4494px -4894px;
  width: 182px;
  height: 82px;
}
.icon-Nivea {
  background-image: url(sprite.png);
  background-position: -4600px -4481px;
  width: 324px;
  height: 102px;
}
.icon-Rollton {
  background-image: url(sprite.png);
  background-position: -5631px -4676px;
  width: 195px;
  height: 88px;
}
.icon-Strauss {
  background-image: url(sprite.png);
  background-position: -4581px -4676px;
  width: 217px;
  height: 138px;
}
.icon-Veres {
  background-image: url(sprite.png);
  background-position: -4100px -4894px;
  width: 191px;
  height: 96px;
}
.icon-henkel {
  background-image: url(sprite.png);
  background-position: -4998px -4676px;
  width: 196px;
  height: 111px;
}
.icon-bic {
  background-image: url(sprite.png);
  background-position: -4336px -4676px;
  width: 245px;
  height: 140px;
}
.icon-essity {
  background-image: url(sprite.png);
  background-position: -5558px -4341px;
  width: 280px;
  height: 140px;
}
.icon-gsk {
  background-image: url(sprite.png);
  background-position: -3560px -5034px;
  width: 154px;
  height: 132px;
}
.icon-henkel {
  background-image: url(sprite.png);
  background-position: -4090px -4676px;
  width: 246px;
  height: 140px;
}
.icon-nivea_bw {
  background-image: url(sprite.png);
  background-position: -3560px -4894px;
  width: 195px;
  height: 140px;
}
.icon-nutricia {
  background-image: url(sprite.png);
  background-position: -3755px -4894px;
  width: 171px;
  height: 131px;
}
.icon-russia {
  background-image: url(sprite.png);
  background-position: -5822px -2118px;
  width: 32px;
  height: 32px;
}
.icon-ukraine {
  background-image: url(sprite.png);
  background-position: -5790px -2118px;
  width: 32px;
  height: 32px;
}
.icon-united-kingdom {
  background-image: url(sprite.png);
  background-position: -5854px -2118px;
  width: 32px;
  height: 32px;
}
.icon-default-skin {
  background-image: url(sprite.png);
  background-position: -5185px -4481px;
  width: 264px;
  height: 88px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: -4090px -4481px;
  width: 195px;
  height: 195px;
}
.icon-charts {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 2310px;
  height: 1407px;
}
.icon-charts2 {
  background-image: url(sprite.png);
  background-position: -2670px -4894px;
  width: 890px;
  height: 557px;
}
.icon-charts_old {
  background-image: url(sprite.png);
  background-position: -4620px -3149px;
  width: 1170px;
  height: 673px;
}
.icon-comments {
  background-image: url(sprite.png);
  background-position: -2310px -1407px;
  width: 2310px;
  height: 1407px;
}
.icon-comments2 {
  background-image: url(sprite.png);
  background-position: 0px -4894px;
  width: 890px;
  height: 557px;
}
.icon-comments_old {
  background-image: url(sprite.png);
  background-position: 0px -4221px;
  width: 1170px;
  height: 673px;
}
.icon-export {
  background-image: url(sprite.png);
  background-position: -2310px -2814px;
  width: 2310px;
  height: 1407px;
}
.icon-export2 {
  background-image: url(sprite.png);
  background-position: -4620px 0px;
  width: 1300px;
  height: 903px;
}
.icon-export_old {
  background-image: url(sprite.png);
  background-position: -4620px -1803px;
  width: 1170px;
  height: 673px;
}
.icon-filters {
  background-image: url(sprite.png);
  background-position: 0px -2814px;
  width: 2310px;
  height: 1407px;
}
.icon-filters2 {
  background-image: url(sprite.png);
  background-position: -890px -4894px;
  width: 890px;
  height: 557px;
}
.icon-filters_old {
  background-image: url(sprite.png);
  background-position: -2340px -4221px;
  width: 1170px;
  height: 673px;
}
.icon-index {
  background-image: url(sprite.png);
  background-position: 0px -1407px;
  width: 2310px;
  height: 1407px;
}
.icon-index2 {
  background-image: url(sprite.png);
  background-position: -4620px -903px;
  width: 1300px;
  height: 900px;
}
.icon-index_old {
  background-image: url(sprite.png);
  background-position: -4620px -2476px;
  width: 1170px;
  height: 673px;
}
.icon-maps {
  background-image: url(sprite.png);
  background-position: -2310px 0px;
  width: 2310px;
  height: 1407px;
}
.icon-maps2 {
  background-image: url(sprite.png);
  background-position: -1780px -4894px;
  width: 890px;
  height: 557px;
}
.icon-maps_old {
  background-image: url(sprite.png);
  background-position: -1170px -4221px;
  width: 1170px;
  height: 673px;
}
.icon-mobile_app_web {
  background-image: url(sprite.png);
  background-position: -3510px -4481px;
  width: 580px;
  height: 357px;
}
.icon-online_logo {
  background-image: url(sprite.png);
  background-position: -3510px -4221px;
  width: 2048px;
  height: 260px;
}
