/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }
body{
  font-family: "Roboto";
}
@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }



/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

// h1, h2, h3, h4, h5, h6 {
//   color: #3C4858!important;
// }

// Colors
$main_color: #f6b601;
$text-muted: #9e9e9e;
$text-contrast: #4e4b4a;
$bgc-grey-light:#f5f5f5;
$bgc-grey-darken:#eceff1;

$bgc-modals:rgba($bgc-grey-darken, .98);
.bgc-grey-darken{
  background-color: $bgc-grey-darken;
}
// Colors End
.btn-demo{
  background-color: grey;
}
.btn-outline-demo{
  border-color: $main_color!important;
  background-color: transparent!important;
  color: $main_color!important;
  border: 1px solid $main_color!important;
}

.header-divider{
  margin: 30px auto;
  border: 0;
  height: 3px;
  color: $main_color;
  background-color: $main_color;
  width: 5rem;
  opacity: .5;
  transition: all .3s ease-in-out 0s;
}
// modal
  // html {
  //   overflow: hidden;
  //   height: 100%;
  // }
  // body {
  //   overflow: auto;
  //   height: 100%;
  // }

  /* unset bs3 setting */
  .modal-open {
   overflow: auto;
  }
  .modal-content{
    background-color: $bgc-modals;
  }
// Carousel indicators
.carousel .carousel-indicators li {
  width: 1.5rem;
  height: .625rem;
  border-radius: 0;
  cursor: pointer;
}
.carousel .carousel-control-prev-icon,.carousel .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}
