/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }
body{
  font-family: "Roboto";
}
@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }



/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

// h1, h2, h3, h4, h5, h6 {
//   color: #3C4858!important;
// }
.btn-demo{
  background-color: #e12330;
}
//
@import "../../node_modules/mdbootstrap/scss/mdb.scss";
@import "../../node_modules/mdbootstrap/scss/style.scss" ;
@import "parts/navbar";
@import "parts/counterup";
@import "parts/carousel";
@import "parts/capabilities";
@import "parts/usage";
@import "parts/reports";
@import "parts/carousel";
@import "parts/web";
@import "parts/universal";
@import "parts/intro";
