.view,
body,
header,
html {
  height: 100%;
}
@media (max-width: 740px) {
  .view,
  body,
  header,
  html {
    height: 1050px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .view,
  body,
  header,
  html {
    height: 700px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331!important;
  }
}
